
/*Pagina HOME*/
.subtitulo{

    font-family: Arial;
    font-size:34px;
    color:#F08088; 
}
.logo{
    width: 100px;
    height: auto;
    padding-left: 23px;
    padding-top: 18px;
}
.nav{
    background-color: #e4e4e4;
    font-family:  'Montserrat', sans-serif; font-weight: 100;
    font-weight: bold;
    font-size: 100%;
    color: #4b4b4b;
    position:relative;
    width: auto;
    height: auto;
    opacity: 0.8;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 4px;
}



a:link, a:visited {
    text-decoration: none;
    color:rgb(0, 0, 0);
	}
a:hover {
	text-decoration: none; 
	color: rgb(0, 0, 0);
	}
a:active {
	text-decoration: none;
	}

.nounderline{
    padding-top: 40px;
}
.nounderline:link 
{ 
text-decoration:none; 
text-decoration-color: rgb(20, 20, 20);
} 
.paginas{
    position: relative;
    bottom: 15px;
}

.fundo {
    background-image: url('carroHome.jpg');
    width: auto;
    height:50%;
    background-position: center -200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;

}

.escrita{
    font-family:  'Montserrat', sans-serif; font-weight: 100;
    color: #ffffff;
    padding: 19px;
}

.midias{
    width: 34px;
    height: auto;
    position: relative;
    top: 8px;
}

.marcas{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    justify-content: center;
    padding: 19px;
}
#copyright{
    position: relative;
    float:right;
    top: 20px;
}
.registro
{
    float: right;
    font-size: 14px;
}
#meioDaPagina{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    bottom:100px;

}

#bosch{
    position: relative;


}

#tresM{
    position: relative;
    left:35%;
    top:10px;
}

#nakata{
    position: relative;
    left:10%;
}

#textoMeioDaPagina{
    font-family:  'Montserrat', sans-serif; font-weight: 70;
    text-align: center;
    top:30px;
    position: relative;

}

#auxMeioDaPagina{
    position: relative;
    
}
.botaoContato{
    background-color: #F5E212;
    position: relative;
    width: 7%;
    height: 30px;
    display: inline-block;
    border-radius: 3px;
    padding-left: 27px;
    padding-top: 9px;
    color: black;
}
.finalDaPagina{
    background-color: #A5A5A5;
    width: auto;
    height: 380px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    padding: 89px;
    margin-top: 29px;
    

}
.gridImagens{
    width: 30%;
    margin: 0;
    float: left;
    margin-left: 25px;
    
    font-family:  'Montserrat', sans-serif; font-weight: 30;
    display: inline-block;
    text-align: center;
    color:#e4e4e4
}
#atendimentoHome{
    background-color: rgb(88, 156, 192);
    position: relative;
    width: 300px;
    height: 280px;

    display: inline-block;
    border-radius: 10px;

}

#pagamentoFacilitado{
    background-color: #595959;
    position: relative;
    width: 300px;
    height: 280px;
    display: inline-block;
    border-radius: 10px;

}
#solucaoProblema{
    background-color: #46BDA1;
    position: relative;
    width: 300px;
    height: 280px;
    display: inline-block;
    border-radius: 10px;
}

#imagemAtendimentoHome{
    position: relative;
    width: 300px;
    height: 200px;
    left:0px;
    top:0px;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    
}
#imagemPagamentoFacilitado{
    position: relative;
    width:300px;
    height: 200px;
    left: 0px;
    top:0px;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
}

#imagemSolucaoProblema{
    position: relative;
    width:300px;
    height:200px;
    left: 0px;
    top:0px;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
}

#textoAtendimentoHome{
    font-family:  'Montserrat', sans-serif; font-weight: 30;
    display: inline-block;
    text-align: center;
}
#textoPagamentoFacilitado{
     font-family:  'Montserrat', sans-serif; font-weight: 30;
     display: inline-block;
     text-align: center;
}
#textoSolucaoProblema{
     font-family:  'Montserrat', sans-serif; font-weight: 30;
     display: inline-block;
     text-align: center;
}

body {
    margin:0;
 }
 .rodape{
    font-family: 'Montserrat', sans-serif;
    font-weight: 30;
    font-size: 12px;
    padding: 0;
    margin: 14px;
    margin-bottom: 28px;
 }

 /*Pagina Onde Estamos-Contatos*/
 .Titulo{
     font-family: 'Montserrat', sans-serif; font-weight: 30;
     font-size: 18px;
     background-color: #A5A5A5;
     width: auto;
     height: 100px;
     line-height: 0.6;
     padding-left: 101px;
     padding-top: 24px;
 }
 #Contatos_t1
 {
    margin-top: 0px;
    padding-top: 3%;

 }
 #NevesDinizTexto{
     color:#F5E212;
     line-height: 0.2;

 }
 .TextoDestacado{
    background-image: url('Imagens/atendimento.jpg');
    width: auto;
    height:80%;
    background-position: center -200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0;
    padding: 79px;
    text-align: center;
    color:#F5E212;
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 18px;
 }

 .GridContatos{
    background-color: #A5A5A5;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    text-align: center;

    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 14px;
    padding: 84px;

 }
.Contatos{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 300px;
    height: 350px;

    display: inline-block;
    border-radius: 10px;
}
 #imgContato{
    width: 7%;
    height:7%;
    margin-top: 44px;
 }
 #topicoContato{

    text-align: center;
    color:#F5E212;
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 14px;

 }

 /*Pagina Nossos Produtos*/

.GridTituloNossosProdutos
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    background-color: #A5A5A5;
}
.GridProdutosGeral{
    background-color: #A5A5A5;
    display:grid;
    grid-template-rows:repeat(2,1fr);
    grid-column-gap: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 14px;

 }

 .GridProdutos{
    background-color: #A5A5A5;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    text-align: center;

    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 14px;
    padding: 41px; 
}
.Produtos{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 280px;
    height: 430px;

    display: inline-block;
    border-radius: 10px;
}
 #imgProduto{
    width: auto;
    height: 80px;
    margin-top: 44px;
 }
 #tituloProdutos{
    
        text-align: center;
        font-family: 'Montserrat', sans-serif; font-weight: bold;
        font-size: 14px;
    }
 #topicoProdutos{

    text-align: center;
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 14px;

 }

 .Motor{
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 74%;
    height: 61%;
    display: inline-block;
    border-radius: 10px;
    padding: 17px;
    margin-left: 134px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 30;
    font-size: 14px;

 }

 #imgMotor{
    width: auto;
    height: 154px;
    margin-top: 52px;
 }
 .enviaEmail{
    background-color: #A5A5A5;
    
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 16px;
    padding: 41px; 
 }

.botaoemail{
    background-color: #F5E212;
    position: relative;
    width: 25%;
    height: 30px;
    display: inline-block;
    border-radius: 3px;
    padding-left: 27px;
    padding-top: 9px;
    color: black;
}
 /* PAGINA QUEM SOMOS*/

 #tituloMeioQuemSomos
 {
    text-align: center;
    color:#F5E212;
    font-family: 'Montserrat', sans-serif; font-weight: 100;
    font-size: 36px;
 }

 #textoQuemSomos{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 36px;

 }

 .GridNossaMissao{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    background-color: #F5E212;
 }
 .parceiros{
    padding-top: 14px;
    width: 50%;
    PADDING-LEFT: 105px;
 }
#textoNossaMissao{
    padding: 92px;
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 22px;
 }
 .MeioQuemSomos{
    padding: 61px;
    background-image: url(parafusos.jpg);
    width: auto;
    height: 50%;
    background-position: center -452px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
 }
.TrabalheConoscoBackground{
    background-color: #595959;
}
 .fimdepaginaQuemSomos{
    background-color: #595959;
    padding: 92px;
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 18px;
 }
 .mapaQuemSomos{
    padding-left: 50%;
 }

 
 #TrabalheConoscoTitulo{
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 24px;
    padding: 40px;
 }

 #TrabalheConoscoTextoDestacado{
    color: #F5E212;
 }
 #TrabalheConoscoTextoPrincipal{
    font-family: 'Montserrat', sans-serif; font-weight: 30;
    font-size: 18px;
    padding: 40px;
    padding-top: 10px;
 }
 #TrabalheConoscoSaibaMais{
    text-decoration: underline;
    text-align: center;
 }

