

.subtitulo{

    font-family: Arial;
    font-size:34px;
    color:#F08088; 
}
.logo{
    width: 500px;
    height: auto;
}

.bugada{

	opacity: 0.8;
	
	height: 500px;
	width: auto;
}

.escrita{
	font-family 'sans-serif'; 
	color: #000000;
}



/* GRUPO 1*/



/* GRUPO 2*/
/* GRUPO 3*/
/* GRUPO 4*/