

.subtitulo{

    font-family: Arial;
    font-size:34px;
    color:#F08088; 
}
.logo{
    width: 100px;
    height: auto;
}
.nav{
    background-color: #e4e4e4;
    font-family:  'Montserrat', sans-serif; font-weight: 100;
    font-size: 16px;
    color: #4b4b4b
    position:relative;
    width: auto;
    height: auto;
    opacity: 0.8;
    bottom: 100px;

<<<<<<< HEAD
}
.paginas{
    position: relative;
    bottom: 15px;
}

.fundo {
    background-image: url('carroHome.jpg');
    width: 1340px;
    height:1000px;
    background-size: cover;
    background-repeat: no-repeat;
=======

.bugada{
>>>>>>> upstream/master

}

.escrita{
    font-family:  'Montserrat', sans-serif; font-weight: 100;
    color: #4b4b4b
}

<<<<<<< HEAD
.midias{
    width: 85px;
    height: auto;
    position: relative;
    top: 20px;
}

#copyright{
    position: relative;
    float:right;
    top: 20px;
}

#meioDaPagina{
    background-color: #ffffff;
    width: auto;
    height: 200px;

}
=======
/* GRUPO 1*/
>>>>>>> upstream/master

#bosch{
    position: relative;
    left: 20px;

}

#tresM{
    position: relative;
    left: 180px;
    bottom: 10px;
}

#nakata{
    position: relative;
    left: 285px;
}

#textoMeioDaPagina{
    font-family:  'Montserrat', sans-serif; font-weight: 70;
    left: 300px;
    top:30px;
    position: relative;

}

#auxMeioDaPagina{
    position: relative;
    left: 120px;
}
.finalDaPagina{
    background-color: #A5A5A5;
    width: auto;
    height: 400px;
}

#atendimentoHome{
    background-color: #79C0E9;
    position: relative;
    width: 300px;
    height: 300px;
    left: 100px;
    top: 70px;
    display: inline-block;

}

#pagamentoFacilitado{
    background-color: #595959;
    position: relative;
    width: 300px;
    height: 300px;
    left: 250px;
    top:50px;
    display: inline-block;
}
#solucaoProblema{
    background-color: #46BDA1;
    position: relative;
    width: 300px;
    height: 300px;
    left: 400px;
    top: 50px;
    display: inline-block;
}

#imagemAtendimentoHome{
    position: relative;
    width: 300px;
    height: 200px;
    left:0px;
    top:0px;
    display: inline-block;
}
#imagemPagamentoFacilitado{
    position: relative;
    width:300px;
    height: 200px;
    left: 0px;
    top:0px;
    display: inline-block;
}

#imagemSolucaoProblema{
    position: relative;
    width:300px;
    height:200px;
    left: 0px;
    top:0px;
    display: inline-block;
}

#textoAtendimentoHome{
    font-family:  'Montserrat', sans-serif; font-weight: 30;
    display: inline-block;
    text-align: center;
}
#textoPagamentoFacilitado{
     font-family:  'Montserrat', sans-serif; font-weight: 30;
     display: inline-block;
     text-align: left;
}
#textoSolucaoProblema{
     font-family:  'Montserrat', sans-serif; font-weight: 30;
     display: inline-block;
     text-align: center;
}